<h1><%= @cuisine.name %></h1>

<%= @recipe.each do |r| %>
  <h1><%= r.title %></h1>
  <ul>
    <li><%= r.recipe_type %></li>
    <li><%= r.cuisine.name %></li>
    <li><%= r.difficulty %></li>
    <li><%= r.cook_time %> minutos</li>
  </ul>
<% end %>

<% if @recipe.empty? %>
  <p>Nenhuma receita encontrada para este tipo de cozinha</p>
<% end %>
